Source: ros-jazzy-gz-sensors-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-core, ament-cmake-lint-cmake <!nocheck>, ament-cmake-xmllint <!nocheck>, python3-ament-cmake-test, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-common-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-msgs-vendor, ros-jazzy-gz-rendering-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-transport-vendor, ros-jazzy-sdformat-vendor, xvfb <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://github.com/gazebosim/gz-sensors
Standards-Version: 3.9.2

Package: ros-jazzy-gz-sensors-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-gz-cmake-vendor, ros-jazzy-gz-common-vendor, ros-jazzy-gz-math-vendor, ros-jazzy-gz-msgs-vendor, ros-jazzy-gz-rendering-vendor, ros-jazzy-gz-tools-vendor, ros-jazzy-gz-transport-vendor, ros-jazzy-sdformat-vendor, ros-jazzy-ros-workspace
Description: Vendor package for: gz-sensors8 8.0.1 Gazebo Sensors : Sensor models for simulation
