Source: ros-rolling-gz-sensors-vendor
Section: misc
Priority: optional
Maintainer: Addisu Z. Taddese <addisuzt@intrinsic.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake-copyright <!nocheck>, ros-rolling-ament-cmake-core, ros-rolling-ament-cmake-lint-cmake <!nocheck>, ros-rolling-ament-cmake-test, ros-rolling-ament-cmake-vendor-package, ros-rolling-ament-cmake-xmllint <!nocheck>, ros-rolling-gz-cmake-vendor, ros-rolling-gz-common-vendor, ros-rolling-gz-math-vendor, ros-rolling-gz-msgs-vendor, ros-rolling-gz-rendering-vendor, ros-rolling-gz-tools-vendor, ros-rolling-gz-transport-vendor, ros-rolling-sdformat-vendor, xvfb <!nocheck>, ros-rolling-ros-workspace
Homepage: https://github.com/gazebosim/gz-sensors
Standards-Version: 3.9.2

Package: ros-rolling-gz-sensors-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-gz-cmake-vendor, ros-rolling-gz-common-vendor, ros-rolling-gz-math-vendor, ros-rolling-gz-msgs-vendor, ros-rolling-gz-rendering-vendor, ros-rolling-gz-tools-vendor, ros-rolling-gz-transport-vendor, ros-rolling-sdformat-vendor, ros-rolling-ros-workspace
Description: Vendor package for: gz-sensors9 9.0.0 Gazebo Sensors : Sensor models for simulation
